<bookstoreheader> </bookstoreheader>
<div class="container">
	<div class="jumbotron">
		<h3> Texas State Online Bookstore Checkout </h3>
		<p class="text-info">
			Thanks for shopping at Texas State Online Bookstore.<br />
			This is your shopping cart. Here you can edit the items,
			go back to the store, clear the cart, or check out.
		</p>
		<div class="row">
			<div class="col-sm-8">
				<!-- items -->
				<table class="table table-bordered table-hover">
					<!-- header -->
					<tr class="well">
						<td><b>Item</b></td>
						<td class="tdCenter"><b>Quantity</b></td>
						<td class="tdRight"><b>Price</b></td>
						<td></td>
					</tr>
					<!-- empty cart message -->
					<tr ng-hide="cart.getTotalCount() > 0" >
						<td class="tdCenter" colspan="4">
							Your cart is empty.
						</td>
					</tr>

					<!-- cart items -->
					<tr ng-repeat="item in cart.items | orderBy:'name'">
						<td>{{item.name}}</td>
						<td class="tdCenter">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-success" type="button" ng-disabled="item.quantity >= 1000" ng-click="cart.addItem(item.id, item.name, item.price, +1)"><span class="glyphicon glyphicon-plus"></span>
										</button>
									</span>
									<input type="tel" ng-model="item.quantity" class="form-control" ng-change="cart.saveItems()" style="text-align: center">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-disabled="item.quantity <= 1" ng-click="cart.addItem(item.id, item.name, item.price, -1)"><span class="glyphicon glyphicon-minus"></span>
										</button>
									</span>
								</div>
							</div>
						</td>
						<td class="tdRight">{{item.price * item.quantity | currency}}</td>
						<td class="tdCenter" title="remove from cart">
							<a href="" ng-click="cart.addItem(item.id, item.name, item.price, -10000000)" >
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>

					<!-- footer -->
					<tr class="well">
						<td><b>Total</b></td>
						<td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
						<td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
						<td></td>
					</tr>
				</table>
			</div>

			<!-- buttons -->
			<div class="col-sm-4">
				<p class="text-info">
					<a href = "bookstore">
					<button class="btn btn-block">
						<span class="glyphicon glyphicon-chevron-left"></span> Back to the Bookstore
					</button>
					</a>
					<button class="btn btn-block btn-danger" ng-click="cart.clearItems()" ng-disabled="cart.getTotalCount() < 1" >
						<span class="glyphicon glyphicon-trash"></span> Clear Shopping Cart
					</button>
				</p>

				<p class="text-info">
					<button class="btn btn-block btn-primary" ng-click="checkout(cart)" ng-disabled="cart.getTotalCount() < 1">
						<span class="glyphicon glyphicon-ok"></span> Checkout
					</button>
				</p>
			</div>
		</div>
	</div>
</div>
