<bookstoreheader> </bookstoreheader>
<div class="container">
      <div class="jumbotron">
<h1>Contact Us</h1>

<h3>Store Information</h3>
<strong>Store Address:</strong>
<br>
Texas State University Bookstore
<br>
601 University Dr.
<br>
San Marcos, Tx 78666
<br>
<br>
<strong>Phone Number: 512.245.2273</strong>
<br>
<strong>Phone Number: 877.884.3338</strong>
<br>
<strong> Email: </strong>
<a href="mailto:universitybookstore@txstate.edu">universitybookstore@txstate.edu</a>
<hr> </hr>
<h3>Driving Directions</h3>
<br>
<strong>FROM IH-35 NORTH (Austin)</strong>
<br>
Take exit 206, travel West on Aquarena Springs. After crossing the San Marcos River you will come to a traffic light. Turn right onto Sessom Drive. Go to the top of the hill and turn left at Comanche Street. Turn left at the first street (Student Center Drive). Turn right before the stop sign to enter the public parking garage. For a detailed map to the parking garage go to the Student Center Parking Garage campus map.
<br>
<br>
<strong>FROM IH-35 SOUTH (San Antonio)</strong>
<br>
Take exit 206, travel West on Aquarena Springs. After crossing the San Marcos River you will come to a traffic light. Turn right onto Sessom Drive. Go to the top of the hill and turn left at Comanche Street. Turn left at the first street (Student Center Drive). Turn right before the stop sign to enter the public parking garage. For a detailed map to the parking garage go to the Student Center Parking Garage campus map.
<br>
<br>
<strong>FROM HWY. 123 (Seguin)</strong>
<br>
When you reach the Interstate, take IH-35 North and exit at 206. Follow the directions above from San Antonio.
<br>
<br>
<strong>FROM HWY. 80 &amp; IH-10 (Houston)</strong>
<br>
When you reach the Interstate, take IH-35 North and exit at 206. Follow the directions above from San Antonio.
<br>
<br>
</div>
</div>