<bookstoreheader> </bookstoreheader>
<div class="container">
  <div class="jumbotron">
    <p class="text-info">
        Welcome to the Texas State Online Book Store.<br />
        You can view all the available books, or you can click on the book title or image to browse the book in detail.
    </p>

    <p>
        <input ng-model="search.name" placeholder="Enter keywords to search..." class="form-control">
    </p>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="well">
                <td class="tdRight" colspan="4" >
                    <a href="cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </td>
            </tr>
            <tr ng-repeat="product in store.products | orderBy:'name' | filter:search" >
                <td class="tdCenter FruitThumbnail"><a href="product/{{product.id}}" ><img ng-src="{{product.screenshot}}" alt="{{product.name}}" class="img-thumbnail img-responsive" width='100px'/></a></td>
                <td>
                    <a href="/product/{{product.id}}"><b>{{product.name}}</b></a><br />
                    {{product.description}}
                </td>
                <td class="tdRight">
                    {{product.price | currency}}
                </td>
                <td class="tdCenter">
                    <a href="" ng-click="cart.addItem(product.id, product.name, product.price, 1)">
                        Add to cart
                    </a>
                </td>
            </tr>
            <tr class="well">
                <td class="tdRight" colspan="4">
                    <a href="cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>